header{
    width: 100%;
    left: 0;
    background-color: black;
    display: flex;
}
.listanav{
    display: flex;
    background-color: black;
    color: white;
    margin-left: 1400px;
}
.listanav li{
    font-size: 24px;
    margin: 1rem;
}
h1{
    color: white;
    margin-left: 200px;
}

